body * {
    background-color: #000000;
    color: #FFFFFF;
}


.fa-solid {
    background-color: #2ba3ac;
}

.inner-icon-1 {
    background-color: #2ba3ac;
}

.inner-icon-2 {
    background-color: #2ba3ac;
}

.inner-icon-3 {
    background-color: #2ba3ac;
}

